<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.810914794268-nhaq685ftps5up6633ifj2r0b06oqo7c</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>810914794268-nhaq685ftps5up6633ifj2r0b06oqo7c.apps.googleusercontent.com</string>
</dict>
</plist>
